body {
  background-image: url('https://i.pinimg.com/236x/9e/7c/82/9e7c82aa4318ae7a0784993765f4dd19.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

.square {
  background: fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  width: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.game {
  display: flex;
  flex-direction: row; 
  justify-content: center;   
  align-items: center;       
  min-height: 80vh;         
  padding-top: 0;            
}